.rojo { 
    color: rgb(255, 0, 0); 
    }
    
    .amarillo {
    color: rgb(255, 255, 0);
    }
    
    .verde {
    color: rgb(0, 143, 57);
    }
    
    .naranja {
    color: rgb(255, 128, 0);
    }
    