.p {
    font-family: Monserrat;
    }
    
    .h2 {
    font-size: 45px;
    } 
    
    .h3 {
    font-size: 45px;
    }
    
    span {
    background-color: rgb(155, 155, 155);
    
    }
    
    .adalovelace {
    text-decoration: none;
    color: #BE3969;
    }
    
    
    .gluglu {
    text-decoration: none;
    color: #BE3969;
    }
    
    
    .ax {
    text-decoration: none;
    color: #BE3969;
    }
    
    .incertae {
    text-decoration: none;
    color: #BE3969;
    }
    
    .brrr{
    text-decoration: none;
    color: #BE3969;
    }
    